.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.checkoutProduct {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_info > button {
  background: rgb(255, 255, 255);
  border: 1px solid;
  margin-top: 10px;
  border-color: slategrey;
  color: #111;
  max-height: 30px;
}

.product_info {
  margin-left: 20px;
  flex: 1;
}

.product_title {
  font-size: 30px;
  font-weight: 800;
}

.product_price {
  font-size: 20px;
  font-weight: 600;
}
